%button {
  border-radius: 7px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: peru;
  font-weight: 500;
  color: white;
  font-family: inherit;
}

@mixin responsive($device) {
  @if $device == "cell" {
    @media screen and (min-width: 500px) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (min-width: 1000px) {
      @content;
    }
  }
}
