
.grid {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  place-items: start end;
}
.header {
  background-color: #2ecc71;
}
.content {
  background-color: #3498db;
}
.nav {
  background-color: #8e44ad;
}
.footer {
  background-color: #f39c12;
}