@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caladea:400&display=swap");
@import "variables";

div,
a,
h1,
h2,
h3,
h4,
h5,
p,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2.2px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
body {
  margin: 0px;
}
.header {
  position: fixed;
  height: 75px;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  .header__first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    div:first-child {
      padding-right: 40px;
    }
  }
  .header__second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    div:first-child {
      padding-right: 40px;
    }
  }
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding-right: 10px;
  }
}
.main {
  padding-top: 200px;
  display: flex;
  flex-direction: row;

  .main__introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 50vw;
    background-color: #f9dbbe;
    img:first-child {
      width: 50vw;
      height: 50vw;
    }

    .intro__explain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50vw;
      height: 50vw;
      p {
        width: 450px;
        font-size: 30px;
        line-height: 38px;
        font-family: "freight-display-pro", "Times New Roman", serif;
        text-align: center;
        letter-spacing: 0.01em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #5d5954;
      }
    }
  }
}
button {
  margin-top: 50px;
  width: 240px;
  height: 50px;
  background-color: transparent;
  font-weight: bold;
  &:hover {
    background-color: #5d5954;
    color: white;
  }
}
.book_manicure {
  letter-spacing: 0.6em;
  font-size: 2px;
  font-weight: 400;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #5d5954;
    border-width: 2px;
    border-right-width: 0;
    border-style: solid;
    width: 50px;
    height: 100%;
    font-size: large;
  }
}
.contents {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  .contents__padding {
    padding-top: 25px;
    padding-bottom: 25px;
    &:first-child{
      padding-top: 50px;
    }
    &:last-child{
      padding-bottom: 50px;
    }
  }
  .contents__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    height: 45vw;
    img {
      width: 100%;
      height: 100%;
    }
    .contents__supplement {
      background-color: #f3ede8;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  p {
    width: 450px;
    font-size: 30px;
    line-height: 38px;
    font-family: "freight-display-pro", "Times New Roman", serif;
    text-align: center;
    letter-spacing: 0.01em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #5d5954;
  }

}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $footerBackgroundColor;
  height: 270px;
  .footer__contents {
    display: grid;
    width: 90vw;
    height: 140px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    background-color: black;
    gap: 1px;
    .footer__box {
      text-transform: uppercase;
      font-weight: bold;
      background-color: $footerBackgroundColor;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div:first-child {
        color: $footerTitleFontColor;
        font-weight: 600;
      }
      div:last-child {
        height: 100px;
        display: flex;
        font-weight: bold;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
