@import "include-media";
$breakpoints: (
  small: 840px,
  large: 1400px,
);
$smallLeft: 450px;
$largeLeft: 600px;
$largeContentPadding: 112px;
$mediumContentPadding: 72px;
$smallContentPadding: 50px;
$keyColor: #e7473c;
@mixin responsableChanger($attr, $small, $medium, $large) {
  @include media("<small") {
    #{$attr}: $small;
  }
  @include media(">=small", "<large") {
    #{$attr}: $medium;
  }
  @include media(">=large") {
    #{$attr}: $large;
  }
}
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  font-family: RingsideExtraWide-Book, Blank, Helvetica Neue, Helvetica,
    sans-serif;
}
.container {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eaecf4;
    min-height: 640px;
    @include media("<small") {
      width: 100vw;
      height: 70vw;
    }
    @include media(">=small", "<large") {
      width: $smallLeft;
      height: 100vh;
      position: fixed;
    }
    @include media(">=large") {
      width: $largeLeft;
      height: 100vh;
      position: fixed;
    }
    h1,
    h4,
    h5 {
      color: $keyColor;
      text-align: justify;
    }
    h1 {
    }
    .explain {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 360px;

      h4 {
        @include responsableChanger(width, 70vw, 300px, 400px);
        text-align: left;
      }
      h5 {
        @include responsableChanger(width, 70vw, 300px, 400px);
        width: 400px;
      }

      div {
        @include responsableChanger(width, 80vw, 400px, 500px);
        width: 500px;
      }
      a {
        color: #a49495;
        font-size: 0.9rem;
        &:hover {
          color: black;
        }
        &:checked {
          color: #a49495;
        }
      }
    }
    .title {
      padding-left: 10vh;
      padding-top: 10vh;
    }
  }
  .contents {
    display: grid;
    @include media("<small") {
      width: 100vw;
    }
    @include media(">=small", "<large") {
      padding-left: $smallLeft;
    }
    @include media(">=large") {
      padding-left: $largeLeft;
    }
    grid-auto-rows: 1fr;
  }
}

.item {
  position: relative;
  width: 100%;
  height: 0px;
  padding-top: 80.25%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      transparent,
      transparent,
      transparent,
      transparent
    ),
    $keyColor;

  // @include media("<small") {
  //   height: 70vw;
  // }
  // @include media(">=small", "<large") {
  //   height: 50vw;
  // }
  // @include media(">=large") {
  //   height: 30vw;
  // }
  display: flex;
  justify-content: center;
  align-items: center;
  .scene-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include responsableChanger(
      width,
      calc(100% - #{$smallContentPadding} * 2),
      calc(100% - #{$mediumContentPadding} * 2),
      calc(100% - #{$largeContentPadding} * 2)
    );

    @include responsableChanger(
      height,
      calc(100% - #{$smallContentPadding} * 2),
      calc(100% - #{$mediumContentPadding} * 2),
      calc(100% - #{$largeContentPadding} * 2)
    );

    @include responsableChanger(
      padding,
      $smallContentPadding,
      $mediumContentPadding,
      $largeContentPadding
    );
  }
}
.scene {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  gap: 10px;
  .scene-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .director {
      text-align: right;
    }
  }
  .scene-video {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  .scene-footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    div {
      margin-left: 10px;
    }
  }
  * {
    color: white;
  }
}
